<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <h1>Edit Cat Information:</h1>
    <form action="/cat/<%= cat._id %>" method="POST">
        <p>
            <label for="name">Cat name: </label>
            <input type="text" name="name" id="name" value=<%=cat.name %>>
        </p>
        <p>
            <label for="color">Cat color: </label>
            <input type="text" name="color" id="color" value=<%=cat.color %>>
        </p>
        <p>
            <input type="submit" value="Update Cat!">
        </p>
    </form>
    <p><a href="/">Home</a></p>
</body>

</html>