<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create a new Cat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Create a new cat</h1>
    <form action="/cat" method="POST">
        <p>
            <label for="name">Cat name: </label>
            <input type="text" name="name" id="name">
        </p>
        <p>
            <label for="color">Cat color: </label>
            <input type="text" name="color" id="color">
        </p>
        <p>
            <input type="submit" value="Create Cat!">
        </p>
    </form>
    <p><a href="/">Home</a></p>
</body>

</html>